[user]
	name = Eduardo G
	email = 304043171+kingedward-gh@users.noreply.github.com
[core]
	editor = ~/.local/bin/git-editor
	hooksPath = ~/.config/git/hooks
[alias]
	aliases = config --get-regexp '^alias\\.'
