<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.janhenckens.alfredtrello</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0442D773-2E45-40E3-B79E-6879C09EDCB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBAACDB8-006A-4F21-832F-16FA411C1103</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>609791B4-04FA-4869-84CC-BE512D463D01</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F8AB236-DCF2-4650-9250-FE2BF0EC6180</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6F8AB236-DCF2-4650-9250-FE2BF0EC6180</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>17D6B8EE-8A01-4B27-91B6-5034669135FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>79377651-97DE-4FAC-8ACD-58DC1863E2DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB9D9F97-D7B6-4F2E-BB14-7264B83BBA5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BBAACDB8-006A-4F21-832F-16FA411C1103</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD2245DE-C519-47BB-9947-BE1A44C7C54F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C7029F52-8A30-438A-BF36-4251DC741967</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9E01687-C3C0-45D8-95BF-60ED1EA91BF6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C9E01687-C3C0-45D8-95BF-60ED1EA91BF6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FC601A6-52F6-4117-9B63-D03876743642</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jan Henckens</string>
	<key>description</key>
	<string>Use keyword "trello" to find a board</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Trello for Alfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://trello.com/1/connect?key=2e0080d27d59f72fe18893b8c19eebc2&amp;name=Trello%20for%20Alfred&amp;response_type=token&amp;scope=read,write&amp;expiration=never</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BBAACDB8-006A-4F21-832F-16FA411C1103</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>trello setup</string>
				<key>subtext</key>
				<string>Authorise Trello for Alfred to use your Trello account.</string>
				<key>text</key>
				<string>Trello setup</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0442D773-2E45-40E3-B79E-6879C09EDCB8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Let Trello for Alfred use your account?</string>
				<key>title</key>
				<string>Trello</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BD2245DE-C519-47BB-9947-BE1A44C7C54F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>trello save</string>
				<key>text</key>
				<string>trello save</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C7029F52-8A30-438A-BF36-4251DC741967</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>php -f workflow.php "save {query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C9E01687-C3C0-45D8-95BF-60ED1EA91BF6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>User token saved, you're good to go!</string>
				<key>title</key>
				<string>Trello for Alfred</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6FC601A6-52F6-4117-9B63-D03876743642</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>php -f workflow.php "refresh"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6F8AB236-DCF2-4650-9250-FE2BF0EC6180</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>trello refresh</string>
				<key>subtext</key>
				<string>Fetch new data from trello.com</string>
				<key>text</key>
				<string>Trello refresh</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>609791B4-04FA-4869-84CC-BE512D463D01</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Data received, you're good to go!</string>
				<key>title</key>
				<string>Refresh completed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>17D6B8EE-8A01-4B27-91B6-5034669135FC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>.t</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>php -f workflow.php "{query}"</string>
				<key>subtext</key>
				<string>Start typing part of the board name here</string>
				<key>title</key>
				<string>Find your Trello boards...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>79377651-97DE-4FAC-8ACD-58DC1863E2DC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>$query = "{query}";
exec("open $query");</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>CB9D9F97-D7B6-4F2E-BB14-7264B83BBA5F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Running these actions in Alfred to get started:
- “trello setup”, authorize the application and copy the key shown there
- “trello save”, past the key you copied after it and press enter
- “t {query}” - now you can search your boards.
- If a board is not available, run “trello refresh” to refresh the local data</string>
	<key>uidata</key>
	<dict>
		<key>0442D773-2E45-40E3-B79E-6879C09EDCB8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>17D6B8EE-8A01-4B27-91B6-5034669135FC</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>609791B4-04FA-4869-84CC-BE512D463D01</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>6F8AB236-DCF2-4650-9250-FE2BF0EC6180</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>6FC601A6-52F6-4117-9B63-D03876743642</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>79377651-97DE-4FAC-8ACD-58DC1863E2DC</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>BBAACDB8-006A-4F21-832F-16FA411C1103</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>BD2245DE-C519-47BB-9947-BE1A44C7C54F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C7029F52-8A30-438A-BF36-4251DC741967</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>C9E01687-C3C0-45D8-95BF-60ED1EA91BF6</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>CB9D9F97-D7B6-4F2E-BB14-7264B83BBA5F</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.janhenckens.com</string>
</dict>
</plist>
