<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>084D354A-C723-4169-8682-973EDB501CA0</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>tu</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Tumblr</string>
			<key>url</key>
			<string>https://www.tumblr.com/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>17067583-201C-4770-8EB4-FDE96686D672</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>w</string>
			<key>text</key>
			<string>ilmeteo</string>
			<key>url</key>
			<string>https://www.ilmeteo.it/meteo/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2A9632B0-A4CC-45FA-8BF3-C71C61F46854</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tr</string>
			<key>text</key>
			<string>Word Reference EN</string>
			<key>url</key>
			<string>http://www.wordreference.com/enit/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>472B7850-4994-44F2-A93B-78C5DAE4532A</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>tr</string>
			<key>text</key>
			<string>Word Reference ES</string>
			<key>url</key>
			<string>http://www.wordreference.com/esit/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>585E2206-F21D-4FEE-8904-83FA8CAEE18A</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>sc</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>SoundCloud</string>
			<key>url</key>
			<string>https://soundcloud.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5D589115-A09C-494B-BEFC-464BA7BC2DFF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dic</string>
			<key>text</key>
			<string>Thesaurus Dictionary Definitions</string>
			<key>url</key>
			<string>https://www.dictionary.com/browse/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A60B2294-7B51-4C2E-8365-E5AA9775FDCE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tr</string>
			<key>text</key>
			<string>Google Translate EN-IT</string>
			<key>url</key>
			<string>https://translate.google.com/?sl=en&amp;tl=it&amp;text={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D5CF6F75-9A08-47A9-8836-6A2DD19E9D32</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>p</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Pinterest</string>
			<key>url</key>
			<string>https://www.pinterest.com/search/pins/?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>EBEFDE5E-A28E-4081-9101-0757F274E672</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>syn</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Thesaurus Synonyms</string>
			<key>url</key>
			<string>https://www.thesaurus.com/browse/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FFD73B48-063A-4456-8DF0-1D8A93133D57</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>tr</string>
			<key>text</key>
			<string>Google Translate IT-ES</string>
			<key>url</key>
			<string>https://translate.google.com/?sl=it&amp;tl=es&amp;text={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
