<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.swineson.alfred.telegram</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>09D48BC5-7877-4341-8F04-5F72159DAF24</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>891DB6FC-C9C3-4EA9-825E-F959379518FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1A45F485-A185-42CD-A0AD-533A0A1132B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D7F1E57-6548-4F7B-A4EC-3C7C242BBDE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1F80C725-7AB1-44A3-932D-244CA62D7F34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE1C440B-995B-4E84-BCFF-B4143237F4B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2D177C8B-133B-4812-9645-85AEEE61E619</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62DF159A-B557-4E78-B623-EC996510A32E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3A07F223-78C1-4F04-9289-DE11C83A702D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>933B11ED-7FE0-47DA-80EB-219EE2A3A777</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5F7965B6-B957-4625-B3F3-8E93F67E750D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12F6965E-4CB1-4AC6-BB00-9025F575060E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>728CA7C6-5B29-4A5A-9B5D-0CA83B518548</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B05911D3-5D40-45CF-867C-B306405DF8F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9FB02B73-F3B7-41FE-ACC8-6C3B5DBD310B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08AC6E67-68FF-4E67-80A4-F96E4D1ED535</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B2724F12-2F9E-4C8B-B9B6-C640D975514D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B05911D3-5D40-45CF-867C-B306405DF8F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D07ECB9E-750F-4FB7-B347-592937B9FA64</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1CBEC62D-D85F-4F56-B468-1BE98BD3E246</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DA152BCA-FB5D-4CA6-BC1B-05142D6939CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68E360AF-C4BB-4457-985A-F309ED6FFAC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DECF1798-EFB6-4BE8-8B31-314C04E5F3AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0246141D-9D02-4508-A43D-5127CEF235B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>James Swineson</string>
	<key>description</key>
	<string>Find your friends at Telegram!</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Telegram</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tg</string>
				<key>text</key>
				<string>Launch Telegram</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1A45F485-A185-42CD-A0AD-533A0A1132B5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Telegram.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>7D7F1E57-6548-4F7B-A4EC-3C7C242BBDE7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tg</string>
				<key>text</key>
				<string>Telegram: contact @{query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B2724F12-2F9E-4C8B-B9B6-C640D975514D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>tg://resolve?domain={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B05911D3-5D40-45CF-867C-B306405DF8F6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>Search user @{query} in Telegram</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>728CA7C6-5B29-4A5A-9B5D-0CA83B518548</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>telegram.me/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0246141D-9D02-4508-A43D-5127CEF235B5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tg</string>
				<key>text</key>
				<string>Copy a URL of user @{query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DECF1798-EFB6-4BE8-8B31-314C04E5F3AD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>https://telegram.me/addstickers/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>933B11ED-7FE0-47DA-80EB-219EE2A3A777</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tgsticker</string>
				<key>text</key>
				<string>Add sticker {query} to library</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3A07F223-78C1-4F04-9289-DE11C83A702D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tgsticker</string>
				<key>text</key>
				<string>Copy a link of sticker {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9FB02B73-F3B7-41FE-ACC8-6C3B5DBD310B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>https://telegram.me/addstickers/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>08AC6E67-68FF-4E67-80A4-F96E4D1ED535</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://web.telegram.org</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>62DF159A-B557-4E78-B623-EC996510A32E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tgweb</string>
				<key>text</key>
				<string>Open Telegram Web</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2D177C8B-133B-4812-9645-85AEEE61E619</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tgweb @</string>
				<key>text</key>
				<string>Launch Telegram Web for user @{query}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DA152BCA-FB5D-4CA6-BC1B-05142D6939CF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://web.telegram.org/#/im?p=@{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>68E360AF-C4BB-4457-985A-F309ED6FFAC9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tgweb u</string>
				<key>text</key>
				<string>Launch Telegram Web for user ID u{query}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D07ECB9E-750F-4FB7-B347-592937B9FA64</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://web.telegram.org/#/im?p=u{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1CBEC62D-D85F-4F56-B468-1BE98BD3E246</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tgweb g</string>
				<key>text</key>
				<string>Launch Telegram Web for group ID g{query}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5F7965B6-B957-4625-B3F3-8E93F67E750D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://web.telegram.org/#/im?p=g{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>12F6965E-4CB1-4AC6-BB00-9025F575060E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tg joinchat</string>
				<key>text</key>
				<string>Join chat with ID {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>09D48BC5-7877-4341-8F04-5F72159DAF24</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://telegram.me/joinchat/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>891DB6FC-C9C3-4EA9-825E-F959379518FE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tgsticker</string>
				<key>text</key>
				<string>Search Google for stickers {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1F80C725-7AB1-44A3-932D-244CA62D7F34</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>https://www.google.com/search?&amp;q={query}+site:telegram.me+inurl:addstickers</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CE1C440B-995B-4E84-BCFF-B4143237F4B1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0246141D-9D02-4508-A43D-5127CEF235B5</key>
		<dict>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>08AC6E67-68FF-4E67-80A4-F96E4D1ED535</key>
		<dict>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>09D48BC5-7877-4341-8F04-5F72159DAF24</key>
		<dict>
			<key>ypos</key>
			<real>1220</real>
		</dict>
		<key>12F6965E-4CB1-4AC6-BB00-9025F575060E</key>
		<dict>
			<key>ypos</key>
			<real>1100</real>
		</dict>
		<key>1A45F485-A185-42CD-A0AD-533A0A1132B5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>1CBEC62D-D85F-4F56-B468-1BE98BD3E246</key>
		<dict>
			<key>ypos</key>
			<real>980</real>
		</dict>
		<key>1F80C725-7AB1-44A3-932D-244CA62D7F34</key>
		<dict>
			<key>ypos</key>
			<real>1340</real>
		</dict>
		<key>2D177C8B-133B-4812-9645-85AEEE61E619</key>
		<dict>
			<key>ypos</key>
			<real>740</real>
		</dict>
		<key>3A07F223-78C1-4F04-9289-DE11C83A702D</key>
		<dict>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>5F7965B6-B957-4625-B3F3-8E93F67E750D</key>
		<dict>
			<key>ypos</key>
			<real>1100</real>
		</dict>
		<key>62DF159A-B557-4E78-B623-EC996510A32E</key>
		<dict>
			<key>ypos</key>
			<real>740</real>
		</dict>
		<key>68E360AF-C4BB-4457-985A-F309ED6FFAC9</key>
		<dict>
			<key>ypos</key>
			<real>860</real>
		</dict>
		<key>728CA7C6-5B29-4A5A-9B5D-0CA83B518548</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>7D7F1E57-6548-4F7B-A4EC-3C7C242BBDE7</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>891DB6FC-C9C3-4EA9-825E-F959379518FE</key>
		<dict>
			<key>ypos</key>
			<real>1220</real>
		</dict>
		<key>933B11ED-7FE0-47DA-80EB-219EE2A3A777</key>
		<dict>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>9FB02B73-F3B7-41FE-ACC8-6C3B5DBD310B</key>
		<dict>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>B05911D3-5D40-45CF-867C-B306405DF8F6</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>B2724F12-2F9E-4C8B-B9B6-C640D975514D</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>CE1C440B-995B-4E84-BCFF-B4143237F4B1</key>
		<dict>
			<key>ypos</key>
			<real>1340</real>
		</dict>
		<key>D07ECB9E-750F-4FB7-B347-592937B9FA64</key>
		<dict>
			<key>ypos</key>
			<real>980</real>
		</dict>
		<key>DA152BCA-FB5D-4CA6-BC1B-05142D6939CF</key>
		<dict>
			<key>ypos</key>
			<real>860</real>
		</dict>
		<key>DECF1798-EFB6-4BE8-8B31-314C04E5F3AD</key>
		<dict>
			<key>ypos</key>
			<real>380</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/Jamesits/alfred-workflow-telegram</string>
</dict>
</plist>
